@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
}
     
    /* Hero1 */

header .hero1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .hero1 img {
    width: 120px;
}

header .hero1 .contact {
    display: block;
    padding: 10px 20px;
    border-radius: 11px;
    border: none;
    background-color: rgb(0, 85, 255);
    cursor: pointer;
    transition: all .5s ease;
}

header .hero1 .contact:hover {
    background-color: black;
    color: white;
}

header .hero1 .contact a {
    text-decoration: none;
    color: white;
    font-family: "Nunito", serif;
    font-size: 17px;
    letter-spacing: .8px;
    font-weight: 600;

}

header .hero1 a {
    color: rgba(0, 0, 0, 0.73);
}

.menu-toggle {
    display: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    margin-top: 10px;   
}

.button-div {
    display: none;
}

   /* MENU */


.menu {
    display: none;
    position: fixed;
    background-color: #2832c2;
    padding: 50px 0 20px 20px;
}

.button-div:hover .menu {
    display: block;
    top: 0;
    right: 0;
}

#mobile-menu {
    list-style-type: none;
    display: none; /* Boshida yashirilgan */
  }

.hidden {
    display: none;
  }

.menu ul {
    list-style: none;
}

.menu ul a {
    text-decoration: none;
    color: white;
    font-family: "Nunito", serif;
    margin-right: 50px;
}

.menu ul i {
    color: rgba(0, 0, 0, 0.172);
    margin-right: 5px;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.095);
    margin: 5px 0;
    width: 110px;
}

.line1 {
    border: 1px solid rgba(0, 0, 0, 0.095);
    margin: 5px 0 50px 0;
    width: 110px;
}

.menu .cont {
    text-decoration: none;
    font-family: "Nunito", serif;
    color: white;
}

   /* Hero2 */

header .hero2 {
    width: 100%;
    margin: 10px 0 20px 0;
}

   /* Hero3 */

header .hero3 {
    width: 100%;
    padding-left: 50px;
}

header .hero3 ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

header .hero3 ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.73);
    font-size: 18px;
    font-family: "Nunito", serif;
    font-weight: 700;
    transition: all 0.5s ease;
}

header .hero3 ul a:hover {
    color: blue;
    /* border-bottom: 2px solid blue; */
    font-size: 20px;
}

@media (max-width: 1000px) {
    header .hero3 ul {
        width: 60%;
    }
}

@media (max-width: 768px) {
    header .hero3 ul {
        display: none;
    }

    header .hero1 .contact{
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    .button-div {
        display: block;
    }
}